body
{
    margin: 0;
    padding: 0;
}

body, button, a.button
{
    font-family: Droid Sans, DroidSans, sans-serif;
    font-size: 12px;
    color: #4A4A4A;
}

input[type='text']
{
    font-family: Droid Sans Mono, DroidSansMono, monospace;
    font-size: 12px;
    color: #4A4A4A;
}

h3, button, a.button
{
    font-weight: bold;
    font-size: 14px;
    padding: 2px 6px 3px;
    text-decoration: none;
}
